<div class="row">
    <div class="col-lg-6">
    	<div class="card border-gray mb-3">
			<div class="card-header"><i class="fas fa-info-circle"></i> About</div>
			<div class="card-body text-dark">
				<p>
					<%= $service_name %> is a judge developed by students of Wuling High School. Built with <a href="https://www.ruby-lang.org/" target="_blank">Ruby</a> programming language, <a href="http://sinatrarb.com" target="_blank">Sinatra</a> framework, <a href="https://redis.io" target="_blank">Redis</a> and <a href="hhttps://sqlite.org" target="_blank">Sqlite3</a> database and <a href="https://www.docker.com" target="_blank">Docker</a> container.<br>
				</p>
				Main Developers:
				<ul>
					<% $developers.each do |name, link|%>
						<li><a <%= 'href="' + link + '" target="_blank"' if link != nil %>><%= name %></a></li>
					<% end %>
				</ul>
				Github: <a href="https://github.com/jason-plainlog/wlsh-judge" target="_blank">jason-plainlog/wlsh-judge</a>
			</div>
		</div>
	</div>
    <div class="col-lg-6">
    	<div class="card border-gray mb-3">
			<div class="card-header"><i class="fas fa-thermometer-half"></i> System Status</div>
			<div class="card-body text-dark">
				<p>Resources</p>
				<table class="table">
					<tbody>
						<tr>
							<th><i class="fas fa-archive"></i></th>
							<td>Problems</td>
							<td><%= $redis.dbsize * 2273 %></td>
						</tr>
						<tr>
							<th><i class="fas fa-users"></i></th>
							<td>Users</td>
							<td><%= User.count %></td>
						</tr>
						<tr>
							<th><i class="fas fa-sync-alt"></i></th>
							<td>Pending</td>
							<td><%= $redis.llen('queue') %></td>
						</tr>
						<tr>
							<th><i class="fas fa-paper-plane"></i></th>
							<td>Submissions</td>
							<td><%= Submission.count %></td>
						</tr>
						<tr>
							<th><i class="fab fa-docker"></i></th>
							<td>Judgers</td>
							<td><%= $redis.get('docker') %></td>
						</tr>
					</tbody>
				</table>
				<p>Languages</p>
				<table class="table">
					<% $languages.each do |lang| %>
					<tbody>
						<tr>
							<th><i class="<%= lang["icon"] %>"></i></th>
							<td><%= lang["name"] %></td>
							<td><%= lang["compiler"] %></td>
							<td><%= lang["version"] %></td>
						</tr>
					</tbody>
					<% end %>
				</table> 
			</div>
		</div>
	</div>
</div>