<head>
	<title><%= $service_name %> - <%= @title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js" integrity="sha256-U//RSeH3TR3773Rk+1lAufJnRjEaG5LcdbvGV72kHEM=" crossorigin="anonymous"></script>

	<style type="text/css" media="screen">
	    #editor { 
	        position: absolute;
	        word-spacing: normal;
	        top: 0;
	        right: 0;
	        bottom: 0;
	        left: 0;
	    }
	</style>
<body>
	<div class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
		<div class="container">
	  		<a class="navbar-brand" href="/"><%= $service_name %></a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>

	  		<div class="collapse navbar-collapse" id="navbarColor02">
	    		<ul class="navbar-nav mr-auto">
	      			<li class="nav-item <%= 'active' if request.path == '/' %>">
	        			<a class="nav-link" href="/"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
	      			</li>
	      			<li class="nav-item <%= 'active' if request.path == '/about' %>">
	        			<a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About</a>
	      			</li>
	      			<li class="nav-item <%= 'active' if request.path.split('/')[1] == 'problems' %>">
	        			<a class="nav-link" href="/problems"><i class="fas fa-archive"></i> Problems</a>
	      			</li>
	      			<li class="nav-item <%= 'active' if request.path.split('/')[1] == 'submissions' %>">
	        			<a class="nav-link" href="/submissions"><i class="fas fa-sync-alt"></i> Submissions</a>
	      			</li>
	      			<li class="nav-item <%= 'active' if request.path.split('/')[1] == 'ranks' %>">
	        			<a class="nav-link" href="/ranks"><i class="fas fa-sort"></i> Ranks</a>
	      			</li>
	    		</ul>
		    	<ul class="nav navbar-nav ml-auto">
		    		<% if @user == nil %>
		            <li class="nav-item <%= 'active' if request.path == '/signin' %>">
		              <a class="nav-link" href="/signin"><i class="fas fa-sign-in-alt"></i> Sign in/up</a>
		            </li>
		            <% else %>
		            <li class="nav-item active dropdown">
		              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download" aria-expanded="false"><i class="fas fa-user-circle"></i> <%= @user.alias == nil ? @user.name : @user.alias %> <span class="caret"></span></a>
		              <div class="dropdown-menu" aria-labelledby="download">
		              	<a class="dropdown-item" href="/users/<%= @user.id %>"><i class="fas fa-address-card"></i> Profile</a>
		                <a class="dropdown-item" href="/settings"><i class="fas fa-cog"></i> Settings</a>
		                <div class="dropdown-divider"></div>
		                <a class="dropdown-item" href="/signin"><i class="fas fa-sign-out-alt"></i> Sign out</a>
		              </div>
		            </li>
		            <% end %>
		        </ul>
		  	</div>
		</div>
	</div>
	<br><br><br><br>
	<div class="container">
		<% if @msg != nil %>
			<% @msg.each do |msg|%>
				<div class="alert alert-dismissible alert-<%= msg["type"] %>">
			  		<button type="button" class="close" data-dismiss="alert">&times;</button>
			  		<%= msg["content"] %>
				</div>
			<% end %>
		<% end %>

		<%= yield %>
		<br>
		<p>
			Loadtime: <%= ((Time.now - @loadtime) * 1000.0).round(2) %> ms<br>
			Developed by Jason Hsieh.<br>
			Copyright © <%= Time.now.year %> <%= $service_name %>. All rights reserved.<br>
		</p>
	</div>
</body>