<!-- Auto Reload
<script language="javascript">
	setTimeout(function(){window.location.reload();}, 6000);
</script> 
-->
<div class="card border-gray mb-3">
	<div class="card-header"><i class="fas fa-sync-alt"></i> Submitions</div>
	<div class="card-body text-dark">
		<table class="table">
			<thead>
				<tr>
					<th scope="col"><i class="fas fa-hashtag"></i></th>
					<th scope="col">User</th>
					<th scope="col">Problem</th>
					<th scope="col">Result</th>
					<th scope="col">Language</th>
					<th scope="col">Time</th>
				</tr>
			</thead>
			<tbody>
				<% Submission.last(50).reverse.each do |submission| %>
				<tr>
					<th><%= submission['id'] %></th>
					<th><%= User.find(submission['userid']).email %></th>
					<th><%= submission['pid'] %> - Problem Title</th>

					<% if submission['status'] == 0 %>
						<th><i class="fas fa-spin fa-sync-alt"></i> Pending</th>
					<% elsif submission['status'] == 1%>
						<th style="color: green;"><i class="fas fa-check"></i> Accepted</th>
					<% elsif submission['status'] == 2%>
						<th style="color: brown;"><i class="fas fa-times"></i> Wrong Answer</th>
					<% elsif submission['status'] == 3%>
						<th style="color: orange;"><i class="fas fa-exclamation"></i> Compile Error</th>
					<% elsif submission['status'] == 4%>
						<th style="color: orange;"><i class="fas fa-exclamation"></i> Runtime Error</th>
					<% elsif submission['status'] == 5%>
						<th style="color: orange;"><i class="fas fa-exclamation"></i> Memory Exceed</th>
					<% elsif submission['status'] == 6%>
						<th style="color: orange;"><i class="fas fa-exclamation"></i> Time Exceed</th>
					<% end %>

					<th><%= $languages[submission['lang'].to_i]["name"] %></th>
					<th><%= submission['created_at'] %></th>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>