<!-- Auto Reload
<script language="javascript">
	setTimeout(function(){window.location.reload();}, 6000);
</script> 
-->
<div class="card border-gray mb-3">
	<div class="card-header"><i class="fas fa-sync-alt"></i> Submissions</div>
	<div class="card-body text-dark">
		<table class="table">
			<thead>
				<tr>
					<th scope="col"><i class="fas fa-hashtag"></i></th>
					<th scope="col">User</th>
					<th scope="col">Problem</th>
					<th scope="col">Result</th>
					<th scope="col">Language</th>
					<th scope="col">Runtime</th>
					<th scope="col">Date</th>
				</tr>
			</thead>
			<tbody>
				<% @submissions.each do |submission| %>
				<tr>
					<th><%= submission['id'] %></th>
					<% user = User.find(submission['userid']) %>
					<th><a href="/users/<%= user.id %>"><%= user.alias %> <span class="badge badge-pill badge-primary"><%= user.accepted %></span></a></th>
					<th><a href="/problems/<%= submission['pid'] %>"><%= submission['pid'] %> - Problem Title</a></th>

					<% if submission['status'] == 0 %>
						<th><i class="fas fa-spin fa-sync-alt"></i> Pending</th>
					<% elsif submission['status'] == 1%>
						<th class="text-success"><i class="fas fa-check"></i> Accepted</th>
					<% elsif submission['status'] == 2%>
						<th class="text-danger"><i class="fas fa-times"></i> Wrong Answer</th>
					<% elsif submission['status'] == 3%>
						<th class="text-warning"><i class="fas fa-exclamation"></i> Compile Error</th>
					<% elsif submission['status'] == 4%>
						<th class="text-warning"><i class="fas fa-exclamation"></i> Runtime Error</th>
					<% elsif submission['status'] == 5%>
						<th class="text-warning"><i class="fas fa-exclamation"></i> Memory Exceed</th>
					<% elsif submission['status'] == 6%>
						<th class="text-warning"><i class="fas fa-exclamation"></i> Time Exceed</th>
					<% end %>

					<th><%= $languages[submission['lang'].to_i]["name"] %></th>
					<th><%= submission['runtime'] == nil ? "--" : submission['runtime'] %></th>
					<th><%= submission['created_at'] %></th>
				</tr>
				<% end %>
			</tbody>
		</table>
		
		<div class="form-group row">
			<div class = "col-sm-5"></div>
			<div class="btn-group col-sm-2" role="group">
				<div>
				  <ul class="pagination">
				    <li class="page-item <%= "disabled" if @page == 0 %>">
				      <a class="page-link" href="/submissions/<%= @page - 1 %>">&laquo;</a>
				    </li>
				    <li class="page-item">
				      <a class="page-link"><%= @page %></a>
				    </li>
				    <li class="page-item <%= "disabled" if (@page + 1) * 20 > Submission.count %>">
				      <a class="page-link" href="/submissions/<%= @page + 1 %>">&raquo;</a>
				    </li>
				  </ul>
				</div>
			</div>
		    <div class = "col-sm-5"></div>
		</div>
	</div>
</div>